<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tenis Game</title>
    <link rel="stylesheet" href="/static/styles.css">
    <!-- Favicon link -->
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="welcomeScreen">
        <button id="closeButton">&times;</button>
        <h1>Welcome to Pong!</h1>
        <p>Controls:</p>
        <ul>
            <li>Player 1: W and S keys</li>
            <li>Player 2: Arrow keys</li>
        </ul>
        <p>Game ends when a player scores 10 points.</p>
        <p>Enter Player Names:</p>
        <input type="text" id="player1Name" placeholder="Player 1">
        <input type="text" id="player2Name" placeholder="Player 2">
        <button id="startButton">START</button>
    </div>
    <canvas id="gameCanvas" class="hidden"></canvas>
    <script src="/static/game.js"></script>
</body>
</html>
