<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tenis Game</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="welcomeScreen">
        
        <h1>Welcome to Tenis!</h1>
        <p>Controls:</p>
        <ul>
            <p>Player 1: W and S keys</p>
            <p>Player 2: Arrow keys</p>
        </ul>
        <p>Game ends when a player scores 10 points.</p>
        <p>Enter Player Names:</p>
        <input type="text" id="player1Name" placeholder="Player 1">
        <input type="text" id="player2Name" placeholder="Player 2">
        <p>Select Difficulty:</p>
        <select id="difficultySelect">
            <option value="beginner">Beginner</option>
            <option value="guru">Guru</option>
            <option value="djokovic">Djokovic</option>
        </select>
        <button id="startButton">START</button>
    </div>
    <canvas id="gameCanvas" class="hidden"></canvas>
    <script src="/static/game.js"></script>
</body>
</html>
